{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <h2>Nikola Tesla</h2>
        <p>
            <img src="https://www.energy.gov/sites/default/files/styles/full_article_width/public/tesla_portrait_0.jpeg?itok=GnME4zta"
                 alt="Nicola Tesla" width="300px">
        </p>
        <p>
            <strong>Нико́ла Те́сла</strong> <em>(серб. Никола Те́сла, англ. Nikola Tesla; 10 июля 1856, Смилян, Госпич,
            Австрийская империя — 7 января 1943, Нью-Йорк, Нью-Йорк, США).</em>
        </p>
        <p>
            Сербско-американский инженер и учёный-физик, изобретатель в области электротехники и радиотехники. По
            национальности серб, родился в Австрийской империи, вырос в Австро-Венгрии, в последующие годы в основном
            работал во Франции и США. В 1891 году получил гражданство США.
        </p>
        <p>Широко известен благодаря своему вкладу в создание устройств, работающих на переменном токе, многофазных
            систем, синхронного генератора и асинхронного электродвигателя, позволивших совершить так называемый второй
            этап промышленной революции.</p>
        <p>Также он известен как сторонник теории о существовании эфира — благодаря своим многочисленным опытам и
            экспериментам, имевшим целью показать наличие эфира как особой формы материи, поддающейся использованию в
            технике.</p>
        <p>В честь изобретателя названа единица измерения плотности магнитного потока (магнитной индукции) — тесла.</p>
        <p>
            <mark>Среди многих наград — медали Эллиота Крессона, Джона Скотта, Томаса Эдисона.</mark>
        </p>
    </div>
{% endblock %}